<!-- LaTeX Macros -->
<div style="display:none;">
<!-- Functions -->
\(\newcommand{\id}{\mathsf{id}}\)
\(\newcommand{\comp}{\mathsf{comp}}\)
\(\newcommand{\app}{\mathsf{app}}\)
\(\newcommand{\const}{\mathsf{const}}\)
\(\newcommand{\flip}{\mathsf{flip}}\)
\(\newcommand{\clone}{\mathsf{clone}}\)

<!-- Unit -->
\(\newcommand{\Unit}{\mathsf{Unit}}\)
\(\newcommand{\unit}{\mathsf{unit}}\)
\(\newcommand{\only}{\mathsf{only}}\)

<!-- Pair -->
\(\newcommand{\Pair}{\mathsf{Pair}}\)
\(\newcommand{\pair}{\mathsf{pair}}\)
\(\newcommand{\fst}{\mathsf{fst}}\)
\(\newcommand{\snd}{\mathsf{snd}}\)
\(\newcommand{\tup}{\mathsf{tup}}\)

<!-- Either -->
\(\newcommand{\Either}{\mathsf{Either}}\)
\(\newcommand{\either}{\mathsf{either}}\)
\(\newcommand{\lft}{\mathsf{lft}}\)
\(\newcommand{\rgt}{\mathsf{rgt}}\)

<!-- Maybe -->
\(\newcommand{\Maybe}{\mathsf{Maybe}}\)
\(\newcommand{\nothing}{\mathsf{nothing}}\)
\(\newcommand{\just}{\mathsf{just}}\)
\(\newcommand{\opt}{\mathsf{opt}}\)

<!-- Bool -->
\(\newcommand{\Bool}{\mathsf{Bool}}\)
\(\newcommand{\true}{\mathsf{true}}\)
\(\newcommand{\false}{\mathsf{false}}\)
\(\newcommand{\if}{\mathsf{if}}\)
\(\newcommand{\and}{\mathsf{and}}\)
\(\newcommand{\or}{\mathsf{or}}\)
\(\newcommand{\not}{\mathsf{not}}\)
\(\newcommand{\eq}{\mathsf{eq}}\)

<!-- Nat -->
\(\newcommand{\Nat}{\mathsf{Nat}}\)
\(\newcommand{\zero}{\mathsf{zero}}\)
\(\newcommand{\next}{\mathsf{next}}\)
\(\newcommand{\natrec}{\mathsf{natrec}}\)
\(\newcommand{\simprec}{\mathsf{simprec}}\)
\(\newcommand{\mutrec}{\mathsf{mutrec}}\)
\(\newcommand{\prev}{\mathsf{prev}}\)
\(\newcommand{\plus}{\mathsf{plus}}\)
\(\newcommand{\times}{\mathsf{times}}\)
</div>
<!-- End LaTeX Macros -->

$body$
